
<table id="details-table">
    <a class="btn btn-primary" href="{{ url('detail.create') }}"> Créer</a>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Catégorie</th>
            <th>Description</th>
            <th>Actions</th>
           
        </tr>
    </thead>
    <tbody>

      

         {% for details in detail %}
        <tr>
            <td>{{ details.id }}</td>
            <td>{{ details.titre }}</td>
            <td>{{ details.categorie }}</td>
            <td>{{ details.description }}</td>
             <td><a class="btn btn-primary" href="{{ url('detail.edit', { id: details.id }) }}"> Editer</a>
                    <div>
                        <form class="form" action="{{ path('detail.delete', { id: details.id }) }}" method="post", onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce détail ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>

             </td>

        </tr>
        {% endfor %}
     
    </tbody>
</table>