{% extends 'base.html.twig' %}

{% block title "detail:" ~ slug %}

{% block body %}
<style>
    
</style>

            <img src="{{ asset('/details/images/' ~ detail.filename) }}" width="300" height="300" alt="Image de {{ detail.titre }}">
<div class="example-wrapper">
    <h1> description</h1>

   {{  slug  }}
   
</div>

<div class="example-wrapper">
    <h1>détail</h1>

            <h3>{{ detail.titre }}</h3>
            <p>{{ detail.description }}</p>
            <p>{{ detail.tarif }} €</p>
            
            

           
       
</div>
<div>
    <h3>liste des commentaires</h3>
    {% for commentaires in commentaire %}
        <div>
            <h4>{{ commentaires.username }}</h4>
            <p>{{ commentaires.message }}</p>
        </div>
    {% endfor %}
</div>
<div>
    <h1>Commentaires</h1>

    {{ form(form) }}
</div>
{% endblock %}