{% extends 'base.html.twig' %}

{% block title "detail:" ~ slug %}

{% block body %}
<style>
    
</style>
  <div class="titre-find">
           {{  slug  }}
           </div>
    <div class="container-find">

        <img src="{{ asset('/details/images/' ~ detail.filename) }}"alt="Image de {{ detail.titre }}">
     
       
            <div class="detail_info">
            
            <p>{{ detail.description }}</p>
            <p>{{ detail.tarif }} €</p>
                 </div>
                   {% for commentaires in commentaire %}
        <div class="comments">
            <h4>{{ commentaires.username }}</h4>
            <p>{{ commentaires.message }}</p>
             
     </div>
           <button id="comment" type="button" class="btn btn-primary btn_commentaire">Ajouter </button>
              <div  class="form_commentaire" >
                {{ form(form) }}
                {{ form_errors(form) }}
              </div>
       
    {% endfor %}
    </div>
  
   
  

  




{% endblock %}