{% extends 'base.html.twig' %}

{% block title "detail:" ~ slug %}

{% block body %}
<style>
    
</style>

        
    <div class="container">

        <img src="{{ asset('/details/images/' ~ detail.filename) }}" width="300" height="300" alt="Image de {{ detail.titre }}">
     

        {{  slug  }}
     
       <h1>détail</h1>

            <h3>{{ detail.titre }}</h3>
            <p>{{ detail.description }}</p>
            <p>{{ detail.tarif }} €</p>
                 
    </div>
 
  <button id="comments-list" type="button" class="btn btn-primary btn_commentaire">liste des commentaires</button> 
  <button id="comment" type="button" class="btn btn-primary btn_commentaire">Ajouter un commentaire</button>
      {% for commentaires in commentaire %}
        <div class="comments">
            <h4>{{ commentaires.username }}</h4>
            <p>{{ commentaires.message }}</p>
        </div>
    {% endfor %}

    <div  class="form_commentaire" >
    {{ form(form) }}
     </div>
  

  




{% endblock %}