{% extends 'base.html.twig' %}

{% block title "detail:" ~ slug %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1> Catégories</h1>

   {{  slug  }}
   
</div>

<div class="example-wrapper">
    <h1>services</h1>

    <ul>
        {% for detail in details %}
        <li>
            <a>{{ detail.titre }}</a>

        </li>
      
        {% endfor %}

        {{ form_start(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.message,  ) }}
        {{ form_row(form.details, {'id': id})  }}


        {{ form_end(form) }}
</div>
{% endblock %}