{% extends 'base.html.twig' %}

{% block title "detail:" ~ slug %}

{% block body %}
<style>
    
</style>
 
            
<div class="example-wrapper">
    <h1> Catégories</h1>

   {{  slug  }}
   
</div>


    <div class="container-list-detail">
        {% for detail in details %}
     <div >
              <img src="{{ asset('/details/images/' ~ detail.filename) }}" width="300" height="300" alt="Image de {{ detail.titre }}">
              
              <a href="{{ path('detail.findOne', { slug: detail.titre, id: detail.id }) }}">{{ detail.titre }}</a>
     </div>
        {% endfor %}
   </div>

{% endblock %}